

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1500px;
    height: auto;
    align-self: center;
  }



.contenedor {
    display: block;
    width: 400px;
    height: auto;
    justify-content: space-around;
    background-color:  rgb(146, 109, 146);
    border-radius: 50px;
    margin: 50px;
}

.contenedor img{
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 50px;
}

.contenedor a{
    text-decoration: none;
    color: rgb(72, 60, 83);
}